@mixin breakpoint($point){
  @if $point == smallmobile{
    @media screen and(max-width:500px){@content;}
  }
  @else if $point == mobile{
    @media screen and(max-width:600px){@content;}
  }
  @else if $point == laptop{
    @media screen and(max-width:900px){@content;}
  }
  @else if $point == desktop{
    @media screen and(max-width:1400px){@content;}
  }
  @else if $point == LGdesktop{
    @media screen and(max-width:1800px){@content;}
  }
}
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.navbar{
    display: flex;
    color: white;
    justify-content: space-around;
    list-style: none;
    padding-top: 2rem;
    position: sticky;
    
    @include breakpoint(laptop){
      display:flex;
    }
    @include breakpoint(smallmobile){
      display:none;
    }
    &__mobile{
      height:50px;
      display:none;
      justify-content: flex-end;
      overflow: hidden;
      @include breakpoint(laptop){
        display:flex;
      }
      
      &-icon{
        display:flex;
        justify-content: end;
        height: 180%;
        padding:1rem;
      }
      &-icon:hover{
        cursor: pointer;
      }
    }
    &__right{
        font-family: 'Rochester';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 62px;
        color: #FFFFFF;
        white-space: nowrap;
        @include breakpoint(desktop){
          font-size:20px;
        }
        @include breakpoint(laptop){
          display:none;
        }
    }
    &__right:hover{
        cursor:pointer
    }
    &__left{
        white-space: nowrap;
        font-family: 'Rochester';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 62px;
        color: #FFFFFF;
        @include breakpoint(desktop){
          font-size:20px;
        }
        @include breakpoint(laptop){
          display:none;
        }
        
    }
    &__left:hover{
        cursor:pointer
    }
    &__mobile{
      &__panel{
        
        top:60px;
        // transform: translateX(100%);
        transition: 1s transform ease-in-out;
        z-index: 100;
        li{
          color:black !important;
          background: #1C1C1C;
        }
          padding: 0;
          list-style-type: none;
        display: flex;
        position: absolute;
        width:100%;
        height:100%;
        flex-direction: column;
        align-items: flex-end;
        box-sizing: border-box;
        display:none;
        &-elements{
         display:flex;
         flex-direction: column;
         box-sizing: border-box;
         position: absolute;
         right:0;
         height:100%;
         width: 100%; 
         background: #1C1C1C;
        }
        &__element{
          color:black;
          a{
            display:flex;
            padding:10px;
            box-sizing: border-box;
            text-decoration: none;
            align-items: center;
            font-size: 3rem;

          }
        }
      }
    }
}
  a.navbar__item {
    font-family: 'Rochester';
    color: white;
    // text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  
li .navbar__left:hover{
    cursor:pointer;
}
// .navbar__mobile-icon:hover{
//   cursor:pointer;
// }
// .navbar__mobile-icon:focus ~ .navbar__mobile__panel, .navbar__mobile__panel:hover{
//   transform: translateX(0);
// }

a.navbar__mobile-item:hover{
  color:#F94C4C

}

.text-warning-anim {
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 0.2s ease-out, transform 1s;
  visibility: visible !important;
}
.text-warning-anim2 {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.2s ease-out, transform 1s;
  visibility: visible !important;
}