.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  .post {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

.post__addcomment {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__addcomment__error {
  width: 100%;
  margin-bottom: 2rem;
}

.post__addcomment__textarea {
  width: 60%;
}

.post__addcomment__textarea #textarea {
  width: 100%;
  height: 100%;
}

.post__addcomment__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__addcomment button#addcomment {
  padding: 1rem;
  background-color: #F94C4C;
}

.post__addcomment button#addcomment:hover {
  cursor: pointer;
}

.post__recommendation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.post__recommendation__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 200px;
  margin-top: 1rem;
}

.post__recommendation__post-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80%;
}

.post__recommendation__post-image img {
  width: 100%;
  height: 100%;
}

.post__recommendation__post-description {
  margin-top: 1rem;
  font-size: 20px;
}

.post__recommendation__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__recommendation-popular {
  color: white;
  padding: 0.5rem;
  background-color: #F94C4C;
  font-weight: 700;
}

.post__recommendation-popular:hover {
  cursor: pointer;
}

.post__recommendation-author {
  color: white;
  padding: 0.5rem;
  font-weight: 700;
}

.post__recommendation-author:hover {
  cursor: pointer;
}

.post__recommendation-last {
  color: white;
  padding: 0.5rem;
  font-weight: 700;
}

.post__recommendation-last:hover {
  cursor: pointer;
}

.post__comments__comment {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #F94C4C;
}

.post__comments__comment-content {
  padding-top: 1rem;
  font-weight: 500;
}

.post__comments__comment__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__comments__comment__top-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.7rem;
  margin-right: 2rem;
}

.post__comments__comment__top-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__comments-title {
  border-bottom: solid 3px #F94C4C;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 700;
  margin-top: 2rem;
}

.post__comments-title span {
  background-color: #F94C4C;
  padding: 1rem;
  font-size: 1rem;
}

.post__detail {
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .post__detail {
    width: 80%;
  }
}

.post__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post__meta__title {
  font-size: 4rem;
  padding-top: 1rem;
}

.post__meta__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__meta__tags-tag {
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  margin-right: 1rem;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.post__meta__tags-tag:hover {
  cursor: pointer;
  background-color: #33adff;
}

.switch-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

.switch-field label {
  color: white;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  padding: 8px 16px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #F94C4C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.form {
  max-width: 600px;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.625;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

#textarea {
  background-color: #1C1C1C;
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.switch__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.3rem;
  border-bottom: 3px solid #F94C4C;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.switch__elements__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.switch__elements__element span {
  font-size: 1.7rem;
  font-weight: 700;
  word-wrap: break-word;
}

.switch__elements__element img {
  width: 300px;
  height: 200px;
  border: 1px solid white;
}

.switch__elements__element:hover {
  cursor: pointer;
}

.switch__elements__element:hover span {
  color: #F94C4C;
}

#form {
  width: 100%;
}
/*# sourceMappingURL=post.css.map */