@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #1C1C1C;
}

.freewords {
  height: 500px;
  position: relative;
}

.freewords-title {
  position: absolute;
  top: 10%;
  font-family: 'Rosario';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  left: 5%;
}

@media screen and (max-width: 900px) {
  .freewords-title {
    display: none;
  }
}

.freewords-box {
  position: absolute;
  font-family: 'Pridi';
  font-style: normal;
  font-weight: normal;
  font-size: 288px;
  color: rgba(255, 255, 255, 0.3);
  right: 20%;
  top: 0%;
}

@media screen and (max-width: 900px) {
  .freewords-box {
    right: 10%;
  }
}

.freewords-mma {
  position: absolute;
  font-family: 'Pridi';
  font-style: normal;
  font-weight: normal;
  font-size: 288px;
  color: rgba(255, 255, 255, 0.3);
  left: 3%;
  top: 50%;
}

@media screen and (max-width: 900px) {
  .freewords-mma {
    font-size: 100px;
  }
}

.freewords-muaythai {
  position: absolute;
  top: 55%;
  right: 30%;
  font-family: 'Pridi';
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  color: rgba(255, 255, 255, 0.3);
}

.freewords-kickboxing {
  position: absolute;
  top: 60%;
  right: -5%;
  font-family: 'Pridi';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.3);
  transform: rotate(90.05deg);
}

@media screen and (max-width: 900px) {
  .freewords-kickboxing {
    right: -25%;
  }
}

.dashboard {
  position: relative;
  height: 100%;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dashboard__news {
  padding-top: 10rem;
  width: 100%;
  height: 700px;
  display: flex;
}

.dashboard__news__firstcolumn-container {
  width: 60%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-size: 100% 100%;
}

.dashboard__news__firstcolumn {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #1C1C1C;
  border: 2px solid white;
  position: relative;
  color: red;
  background-size: 100% 100%;
}

.dashboard__news__firstcolumn__meta {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 40px;
}

.dashboard__news__firstcolumn__meta-title {
  color: black;
  font-size: 40px;
}

.dashboard__news__firstcolumn:hover {
  cursor: pointer;
  animation: zoom 2s infinite;
}

.dashboard__news__secondcolumn {
  width: 40%;
  background-color: #1C1C1C;
}

.dashboard__news__secondcolumn :hover {
  cursor: pointer;
}

.dashboard__news__secondcolumn__first-container {
  height: 50%;
  overflow: hidden;
}

.dashboard__news__secondcolumn__first {
  height: 100%;
  border: 2px solid white;
  position: relative;
}

.dashboard__news__secondcolumn__first__meta {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 30px;
}

.dashboard__news__secondcolumn__first__meta-title {
  color: black;
  font-size: 30px;
}

.dashboard__news__secondcolumn__first:hover {
  cursor: pointer;
  animation: zoom 2s infinite;
}

.dashboard__news__secondcolumn__second-container {
  height: 50%;
  overflow: hidden;
}

.dashboard__news__secondcolumn__second {
  height: 100%;
  border: 2px solid white;
  position: relative;
}

.dashboard__news__secondcolumn__second__meta {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 30px;
}

.dashboard__news__secondcolumn__second__meta-title {
  color: black;
  font-size: 30px;
}

.dashboard__news__secondcolumn__second:hover {
  cursor: pointer;
  animation: zoom 2s infinite;
}

.dashboard__redbox {
  position: absolute;
  background-color: #F94C4C;
  height: 100%;
  width: 30%;
  left: 20%;
  z-index: -1;
}

.dashboard__redbox-news {
  font-size: 40px;
}

.dashboard__redbox__box {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}

.news {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex: 1;
}

.news__bonusinformation {
  padding-top: 5rem;
}

.news__bonusinformation__events {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 400px;
  border: 2px solid white;
}

.news__bonusinformation__tags {
  width: 80%;
  margin: 0 auto;
  border: 2px solid white;
}

.news__box {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.news__bonusinformation {
  padding-top: 6rem;
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .news__bonusinformation {
    width: 100%;
  }
}

.news__bonusinformation__box {
  width: 60%;
  margin: 0 auto;
}

.news__bonusinformation__title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.news__bonusinformation__journalists {
  width: 100%;
  background-color: #1C1C1C;
}

.news__bonusinformation__journalists__meta {
  display: flex;
  flex-direction: column;
}

.news__bonusinformation__journalists__user {
  display: flex;
  border: 1px solid white;
}

.news__bonusinformation__journalists__user__name {
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.news__bonusinformation__journalists__user__name a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.news__bonusinformation__journalists__user__rank {
  padding-left: 1rem;
}

.news__bonusinformation__journalists__user__image {
  width: 100px;
  height: 100px;
}

.news__bonusinformation__journalists__user__image img {
  width: 100%;
  height: 100%;
}

.news__bonusinformation__journalists__user:hover {
  cursor: pointer;
}

.news__bonusinformation__tags {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #1C1C1C;
}

.news__bonusinformation__tags-tag {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 1px solid white;
  margin-right: 1rem;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.news__bonusinformation__tags-tag:hover {
  cursor: pointer;
  background-color: #33adff;
}

.news__posts {
  padding-top: 6rem;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .news__posts {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .news__posts {
    width: 100%;
  }
}

.news__posts__firstpost {
  border: 2px solid white;
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
  position: relative;
}

.news__posts__firstpost-container {
  overflow: hidden;
}

.news__posts__firstpost__meta {
  padding: 1rem;
  position: absolute;
  height: 15%;
  bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #F94C4C;
}

.news__posts__firstpost__meta__data {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: black;
}

.news__posts__firstpost__meta-title {
  flex-grow: 1;
  font-size: 40px;
}

.news__posts__firstpost__meta__bottom {
  display: flex;
  justify-content: end;
}

.news__posts__firstpost__meta__bottom-icon {
  display: flex;
  align-items: center;
}

.news__posts__firstpost__meta__bottom-length {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.news__posts__firstpost__meta__bottom button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2rem;
  color: white;
  background-color: #F94C4C;
  font-size: 17px;
  font-weight: 600;
}

.news__posts__firstpost__meta__bottom button:hover {
  cursor: pointer;
  font-size: 20px;
}

.news__posts__firstpost:hover {
  cursor: pointer;
  animation: zoom 2s infinite;
}

.news__posts__post {
  width: 100%;
  height: 300px;
  display: flex;
  border: 2px solid white;
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .news__posts__post {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .news__posts__post {
    height: 125px;
  }
}

.news__posts__post__meta {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

@media screen and (max-width: 500px) {
  .news__posts__post__meta {
    margin-right: 0.5rem;
  }
}

.news__posts__post__bottom {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.news__posts__post__bottom-icon {
  display: flex;
  align-items: center;
}

.news__posts__post__bottom-length {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-weight: 700;
}

.news__posts__post__bottom button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2rem;
  color: white;
  background-color: #F94C4C;
  font-size: 17px;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .news__posts__post__bottom button {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .news__posts__post__bottom button {
    font-size: 8px;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
}

.news__posts__post__bottom button:hover {
  cursor: pointer;
  box-shadow: 1px 1px white, 2px 2px white, 2px 2px white;
  transform: translateX(-3px);
}

@media screen and (max-width: 700px) {
  .news__posts__post__bottom button:hover {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .news__posts__post__bottom button:hover {
    font-size: 7px;
  }
}

.news__posts__post-title {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

@media screen and (max-width: 700px) {
  .news__posts__post-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .news__posts__post-title {
    font-size: 10px;
  }
}

.news__posts__post__information {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #1C1C1C;
  padding-left: 1rem;
}

.news__posts__post-description {
  flex-grow: 1;
  padding-top: 1rem;
}

@media screen and (max-width: 700px) {
  .news__posts__post-description {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .news__posts__post-description {
    font-size: 8px;
  }
}

.news__posts__post-image {
  min-width: 300px;
  height: 290px;
}

@media screen and (max-width: 700px) {
  .news__posts__post-image {
    font-size: 20px;
    min-width: 200px;
    height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .news__posts__post-image {
    font-size: 10px;
    min-width: 100px;
    height: 120px;
  }
}

.news__posts__post-image img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.news__redbox {
  position: absolute;
  height: 100%;
  width: 30%;
  left: 20%;
  z-index: -1;
  background-color: #F94C4C;
}

.news__redbox-news {
  font-size: 30px;
}

.news__redbox__box {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.news__redbox2 {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 10%;
  z-index: -1;
  background-color: #F94C4C;
}

@media screen and (max-width: 1200px) {
  .news__redbox2 {
    display: none;
  }
}

.news__redbox2-news {
  font-size: 30px;
}

.news__redbox2__box {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

i .fa-comment {
  color: black !important;
}
