@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
.navbar {
  display: flex;
  color: white;
  justify-content: space-around;
  list-style: none;
  padding-top: 2rem;
  position: sticky;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
}

.navbar__mobile {
  display: flex;
  padding: 1rem;
  justify-content: end;
}

.navbar__mobile-icon {
  display: flex;
  justify-content: end;
}

.navbar__right {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 62px;
  color: #FFFFFF;
  white-space: nowrap;
}

@media screen and (max-width: 1400px) {
  .navbar__right {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .navbar__right {
    display: none;
  }
}

.navbar__right:hover {
  cursor: pointer;
}

.navbar__left {
  white-space: nowrap;
  font-family: 'Rochester';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 62px;
  color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
  .navbar__left {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .navbar__left {
    display: none;
  }
}

.navbar__left:hover {
  cursor: pointer;
}

a.navbar__item {
  font-family: 'Rochester';
  color: white;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

li .navbar__left:hover {
  cursor: pointer;
}
