<div class="pagination">
            <span class="step-links">
                {% if page_obj.has_next %}
                    <div class="pagination__step-links">
                    <a href="?page={{ posts.next_page_number }}">Następna</a>
                    <a href="?page={{ posts.paginator.num_pages }}">Ostatnia &raquo;</a>
                </div>
                {% endif %}
                {% if page_obj.has_previous %}
                    <div class="pagination__step-links">
                    <a href="?page=1">&laquo; Pierwsza strona</a>
                    <a href="?page={{ posts.previous_page_number }}">Poprzednia strona</a>
                </div>
                {% endif %}
                <div class="pagination__current">
                    <span class="current">
                        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                    </span>
                </div>
            </span>
</div>