{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
<div class="post">
    <div class="post__detail">
        <div class="post__meta">
            <div class="post__meta__tags">
                {% for tag in post.tags.all %}
                <div class="post__meta__tags-tag" onClick="onClick('{% url 'tag_detail' tag.slug %}')">
                    {{tag}}
                </div>

                {% endfor %}
            </div>
            <div class="post__meta__title">
                {{post.title}}
            </div>
            <div class="post__meta__content">
                {{post.content2 | safe}}
            </div>
        </div>

        <div class="post__comments">
            <div class="post__comments-title"><span>{{comments|length}} Komentarzy</span></div>
            {% for comment in comments %}
            <div class="post__comments__comment">
                <div class="post__comments__comment__top">
                    <div class="post__comments__comment__top-user">
                        {{comment.author}}
                    </div>
                    <div class="post__comments__comment__top-data">
                        {{comment.created_date}}
                    </div>
                </div>
                <div class="post__comments__comment-content">
                    {{comment.text}}
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="post__comments-title"><span>Dodaj komentarz</span></div>
        <form action="" id="form1" name="form1" method="POST">
            <div class="post__addcomment">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="post__addcomment__textarea">
                    <textarea name="textar" id="textarea"></textarea>
                </div>
                <div class="post__addcomment__button">
                    <button id="addcomment">Dodaj Komentarz</button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="post__addcomment__error">
            Zaloguj się aby dodać komentarz
        </div>
        {% endif %}
        <div id="radio2" class="post__recommendation__posts">

            {% block radio2 %}
            {% endblock radio2 %}
            <div class="switch__elements"></div>
        </div>

    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    function onClick(page) {
        window.location.href = page
    }
    var author = "{{post.author}}"
    $(".radio-btn").each(function () {
        if ($(this)[0].checked == true) {
            $.ajax({
                url: 'https://sportywalki.herokuapp.com/radioposts/',
                data: {
                    id: $(this)[0].id,
                    author: "{{post.author}}",
                },
                type: 'get',
                success: function (response) {
                    $('.switch__elements').empty()
                    $.each(JSON.parse(response), function (i, item) {
                        console.log(item.fields.image)
                        $('.switch__elements').append(
                            '<div class="switch__elements__element" ' + 'id = "' + item
                            .fields.slug + '\" ' + 'onClick = onClick(&#39/post/' + item
                            .fields
                            .slug + '/&#39)' +
                            '>' + '<img src="' + item.fields.image +
                            '"/>' +
                            '<span>' + item.fields.title + '</span>' + '</div>'
                        );
                    });
                }

            });
        }
    })
    $("[name='switch-one']").click(function () {
        var id = $(this).attr("id");
        $.ajax({
            url: 'https://sportywalki.herokuapp.com/radioposts/',
            data: {
                id: id,
                author: "{{post.author}}",
            },
            type: 'get',
            success: function (response) {
                $('.switch__elements').empty()
                $.each(JSON.parse(response), function (i, item) {
                    console.log(item)
                    console.log(item.fields.image)
                    console.log(item.fields.image.url)
                    $('.switch__elements').append(
                        '<div class="switch__elements__element" ' + 'id = "' + item
                        .fields.slug + '\" ' + 'onClick = onClick(&#39/post/' + item
                        .fields
                        .slug + '/&#39)' +
                        '>' + '<img src="' + item.fields.image + '"/>' +
                        '<span>' + item.fields.title + '</span>' + '</div>'
                    );
                });
            }

        });
    })
</script>
{% endblock extra_js %}