{% extends 'blogapp/main.html' %}
{% load static %}
{% block content %}
{% comment %} ITs Post detail {{tags.id}} {{tags.name}} {% endcomment %}
<div class="post">
    <div class="post__detail">
        <div class="post__meta">
            <div class="post__meta__tags">
                {% for tag in post.tags.all %}
                <div class="post__meta__tags-tag" onClick="onClick('{% url 'tag_detail' tag.slug %}')">
                    {{tag}}
                </div>

                {% endfor %}
            </div>
            <div class="post__meta__title">
                {{post.title}}
            </div>
            <div class="post__meta__content">
                {{post.content2 | safe}}
            </div>
        </div>

        <div class="post__comments">
            <div class="post__comments-title"><span>{{comments|length}} Komentarzy</span></div>
            {% for comment in comments %}
            <div class="post__comments__comment">
                <div class="post__comments__comment__top">
                    <div class="post__comments__comment__top-user">
                        {{comment.author}}
                    </div>
                    <div class="post__comments__comment__top-data">
                        {{comment.created_date}}
                    </div>
                </div>
                <div class="post__comments__comment-content">
                    {{comment.text}}
                </div>

            </div>
            {% comment %} {{comment.text}}
            {{comment.post.slug}} {% endcomment %}
            {% endfor %}
        </div>
        <div class="post__comments-title"><span>Dodaj komentarz</span></div>
        <form action="" id="form1" name="form1" method="POST">
            <div class="post__addcomment">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="post__addcomment__textarea">
                    <textarea name="textar" id="textarea"></textarea>
                </div>
                <div class="post__addcomment__button">
                    <button id="addcomment">Dodaj Komentarz</button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="post__addcomment__error">
            Zaloguj się aby dodać komentarz
        </div>
        {% endif %}
        {% comment %} <form action="" id="form" name="form" method="POST">
            {% csrf_token %}
            <div class="switch-field" name="switch-field">
                <input type="radio" id="radio-one" name="switch-one" class="radio-btn" value="true" checked>
                <label for="radio-one" name="popular">Popularne</label>
                <input type="radio" id="radio-two" name="switch-one" class="radio-btn" value="false" />
                <label for="radio-two" name="author_posts">Posty Autora</label>
                <input type="radio" id="radio-three" name="switch-one" class="radio-btn" value="false" />
                <label for="radio-three" name="last_news">Ostatnie Newsy</label>
            </div>
        </form> {% endcomment %}
        <div id="radio2" class="post__recommendation__posts">
            {% comment %} {% include 'blogapp/radio2.html' %} {% endcomment %}
            {% block radio2 %}
            {% endblock radio2 %}
            <div class="switch__elements"></div>
            {% comment %}

            {% block radio %}
            Radio
            {% endblock %} {% endcomment %}
        </div>

    </div>
</div>
{% comment %} <div class="news__bonusinformation">
    <div class="news__bonusinformation__box">
        <div class="news__bonusinformation__title">Dodatkowe Informacje</div>
        <div class="news__bonusinformation__events"
            style="background-image: url('https://image-cdn.essentiallysports.com/wp-content/uploads/20200606005342/shakur-stevenson.jpg');background-repeat: no-repeat;background-size: cover; background-position:center center;">
            dsadasdsa</div>
        <div class="news__bonusinformation__title">Tagi</div>

        <div class="news__bonusinformation__tags">
            {% for tag in tags %}
            <div class="news__bonusinformation__tags-tag" onClick="onClick('{% url 'tag_detail' tag.slug %}')">
                {{tag}}
            </div>
            {% endfor %}
        </div>
        <div class="news__bonusinformation__events"
            style="background-image: url('https://image-cdn.essentiallysports.com/wp-content/uploads/20200606005342/shakur-stevenson.jpg');background-repeat: no-repeat;background-size: cover; background-position:center center;">
            dsadasdsa</div>
        <div class="news__bonusinformation__title">Nasi Dziennikarze</div>
        <div class="news__bonusinformation__journalists">
            {% for editor in editors %}
            <div class="news__bonusinformation__journalists__user"
                onClick="onClick('{% url 'journalist_detail' editor.slug %}')">
                <div class="news__bonusinformation__journalists__user__image">
                    <img src={% static editor.avatar.url %} />
                </div>
                <div class="news__bonusinformation__journalists__meta">
                    <div class="news__bonusinformation__journalists__user__name">
                        <a href={% url 'journalist_detail' editor.slug %}>{{editor.user.first_name}}
                            {{editor.user.last_name}}</a>
                    </div>
                    <div class="news__bonusinformation__journalists__user__rank">
                        {{editor.rank}}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}
{% block extra_js %}
<script>
    console.log("wywołanie skryptu post__detail")
    var author = "{{post.author}}"
    $("[name='switch-one']").click(function () {
        console.log("popularne")
        var id = $(this).attr("id");
        console.log(id)

        $.ajax({
            url: 'http://127.0.0.1:8000/radioposts/',
            data: {
                id: id,
                author: "{{post.author}}",
            },
            type: 'get',
            success: function (response) {
                console.log("success")
                $('.switch__elements').empty()
                $.each(JSON.parse(response), function (i, item) {
                    console.log(item.fields)
                    $('.switch__elements').append(
                        '<div class="' + item.fields.title + '\" ' + 'id = "' + item
                        .fields.slug + '\" ' + 'onClick = OnClick(' + item.fields
                        .slug + ')' +
                        '>' + item.fields.slug + '</div>'
                    );
                });
            }

        });
    })
</script>
{% endblock extra_js %}