    {% extends "blogapp/post_detail.html" %}
    {% block radio2 %}
    <form action="" id="form" name="form" method="POST">
        {% csrf_token %}
        <div class="switch-field" name="switch-field">
            <input type="radio" id="radio-one" name="switch-one" class="radio-btn" value="true" checked>
            <label for="radio-one" name="popular">Popularne</label>
            <input type="radio" id="radio-two" name="switch-one" class="radio-btn" value="false" />
            <label for="radio-two" name="author_posts">Posty Autora</label>
            <input type="radio" id="radio-three" name="switch-one" class="radio-btn" value="false" />
            <label for="radio-three" name="last_news">Ostatnie Newsy</label>
        </div>

    </form>
    {% endblock radio2 %}