{% extends 'blogapp/main.html' %}
{% load static %}
{% load cms_tags sekizai_tags menu_tags %}
{% load ads_tags %}
{% load fontawesome_5 %}
<link href="{% static 'blogapp/css/tags.css' %}" rel="stylesheet">
{% block content %}
    <div class="search">
        <div class=news__redbox>
            <div class="news__redbox__box">
                <div class="search__posts-title">
                    {{ label }}
                </div>
            </div>

        </div>
        <div class="news__redbox2__v2">
            <div class="news__redbox2__box">
                <span class="news__redbox2-news">Dodatkowe Informacje</span>
            </div>
        </div>
        <div class="search__posts">
            {% for post in object_list %}
                <div class="search__posts__post">
                    <div class="search__posts__post__image"><img src="{{ post.image.url }}"/></div>
                    <div class="search__posts__post__information">
                        <div class="search__posts__post__title">{{ post.title }}</div>
                        <div class="search__posts__post__meta">
                            <div class="search__posts__post__meta__author">{{ post.author }}</div>
                            <div class="search__posts__post__meta__author__data">{{ post.publish_on }}</div>
                        </div>
                        <div class="search__posts__post__shortdescription">{{ post.short_description }}</div>
                        <div class="search__posts__post__bottom-next">
                            <div class="search__posts__post__bottom-icon">{% fa5_icon 'comment' 'fa fa-2x' %}</div>
                            <div class="search__posts__post__bottom-length">{{ post.comments.all|length }}</div>
                            <button onClick="onClick('{% url 'post_detail' post.slug %}')">Przejdź</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include 'blogapp/pagination.html' %}
        </div>
        <div class="news__bonusinformation">
            <div class="news__bonusinformation__box">
                {% static_placeholder 'first_event' %}
                {% static_placeholder 'tag_plugin' %}
                {% static_placeholder 'second_event' %}
                {% static_placeholder 'journalists_plugin' %}
                <div class="news__bonusinformation__title">Nasi Dziennikarze</div>
                <div class="news__bonusinformation__journalists">
                    {% for editor in editors %}
                        <div class="news__bonusinformation__journalists__user"
                             onClick="onClick('{% url 'journalist_detail' editor.slug %}')">
                            <div class="news__bonusinformation__journalists__user__image">
                                <img src={{ editor.avatar.url }}/>
                            </div>
                            <div class="news__bonusinformation__journalists__meta">
                                <div class="news__bonusinformation__journalists__user__name">
                                    <a href={% url 'journalist_detail' editor.slug %}>{{ editor.user.first_name }}
                                        {{ editor.user.last_name }}</a>
                                </div>
                                <div class="news__bonusinformation__journalists__user__rank">
                                    {{ editor.rank }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}